<div class="container">
<h2>{{name}}</h2>
<a role="button" class="btn btn-success" [routerLink] = "['/todo/create/', user.user_id]"> Add Task </a>
<br><br>


  <table class="table table-striped table-responsive-md btn-table">
    <thead class="thead-dark">
      <th>Todo</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let todo of user.todos">
        <ng-container *ngIf="todo.priority == 1">
          <tr style="background-color: #ffcccb">
            <td>{{todo.description}}</td>
            <td>{{todo.priority}}</td>
            <td>{{todo.dueDate}}</td>
            <ng-container *ngIf="todo.status">
              <td>&#10004;</td>
            </ng-container>
            <ng-container *ngIf="!todo.status">
              <td>&#10060;</td>
            </ng-container>
            <td>
              <a role="button" style="width:70px" class="btn btn-info" [routerLink]="['/todo/edit', todo.id]">Edit</a>
              <div class="divider"></div>
              <a (click) = "deleteTodo(todo.id)" style="width:70px" class="btn btn-danger text-light">Delete</a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="todo.priority == 2">
          <tr style="background-color: #FEFDCA">
            <td>{{todo.description}}</td>
            <td>{{todo.priority}}</td>
            <td>{{todo.dueDate}}</td>
            <ng-container *ngIf="todo.status">
              <td>&#10004;</td>
            </ng-container>
            <ng-container *ngIf="!todo.status">
              <td>&#10060;</td>
            </ng-container>
            <td>
              <a role="button" style="width:70px" class="btn btn-info" [routerLink]="['/todo/edit', todo.id]">Edit</a>
              <div class="divider"></div>
              <a (click) = "deleteTodo(todo.id)" style="width:70px" class="btn btn-danger text-light">Delete</a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="todo.priority == 3">
          <tr style="background-color: #C4FEBA">
            <td>{{todo.description}}</td>
            <td>{{todo.priority}}</td>
            <td>{{todo.dueDate}}</td>
            <ng-container *ngIf="todo.status">
              <td>&#10004;</td>
            </ng-container>
            <ng-container *ngIf="!todo.status">
              <td>&#10060;</td>
            </ng-container>
            <td>
              <a role="button" style="width:70px" class="btn btn-info" [routerLink]="['/todo/edit', todo.id]">Edit</a>
              <div class="divider"></div>
              <a (click) = "deleteTodo(todo.id)" style="width:70px" class="btn btn-danger text-light">Delete</a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>

</div> <!-- end container div -->
<p>&emsp;To view all users, go to link {{ user._links.all.href }}</p>

