

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Team Management</h1>
    <p class="lead">View, assign, and edit team member to-do's to increase productivity in any environment.</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="card-deck">

      <div class="card">
        <img src="assets/images/branchmanager.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Branch Manager</h5>
          <p class="card-text">Responsible for supervising and managing a bank branch.
            The Branch Manager will oversee financial reporting, hire and train staff, and grow branch revenue.</p>
          <a routerLink="/branch-manager/todos" class="btn btn-primary">View Todos</a>

        </div> <!-- end card body div-->
      </div> <!-- end card object div -->


      <div class="card">
        <img src="assets/images/accountant.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accountant</h5>
          <p class="card-text">Responsible for providing financial information to management by researching and
             analyzing accounting data and preparing reports.</p>
          <a routerLink="/accountant/todos" class="btn btn-primary">View Todos</a>
        </div> <!-- end card body div-->
      </div> <!-- end card object div -->


      <div class="card">
        <img src="assets/images/loanofficer.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Loan Officer</h5>
          <p class="card-text">Responsible for evaluating and authorizing the risk and approval of business, real estate, or credit loans for customers.</p>
          <a routerLink="/loan-officer/todos" class="btn btn-primary">View Todos</a>
        </div> <!-- end card body div-->
      </div> <!-- end card object div -->


      <div class="card">
        <img src="assets/images/teller.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Teller</h5>
          <p class="card-text">Responsible for handling customer financial transactions including deposits, withdrawals,
            transfers, money orders, and checking.</p>
          <a routerLink="/teller/todos" class="btn btn-primary">View Todos</a>
        </div> <!-- end card body div-->
      </div> <!-- end card object div -->

    </div> <!-- end card deck div-->
  </div> <!-- end row div -->
</div> <!-- end container div -->
<br><br><br>
